<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" th:href="@{/app.css}"/>

	<title>Countries of the World</title>
</head>
<body>
	<header>
		<div class="container">
			<h1><a th:href="@{/}">Countries of the World</a></h1>
		</div>
	</header>
		<div class="buttons">
			<h2>Sort by:</h2>
			<a th:href="@{/(sort='name')}" class="myButton">Name</a>
			<a th:href="@{/(sort='population')}"  class="myButton">Population</a>
		</div>
		<div class="container">

		<div class="country" th:each="country : ${countries}">
			<a th:href="@{'/country/' + ${country.name}}">
				<img th:src="@{'/flags/' + ${#strings.toLowerCase(country.name)} + '.png'}" th:alt="@{Flag of + ${county.name}}"/>
				<h4 th:text="${country.name}"></h4>
			</a>
		</div>
	</div>
</body>
</html>